@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row raftStateMachine">
        <div class="col-3">
            <button type="button" class="btn-success" id="readyBtn" onclick="readyCoracle()">Ready Coracle</button>
            <div id="readyResult" class="row"></div>
        </div>
    </div>

    <div><hr/></div>
    
    <div class="row coraclePropertyContainer">
        <div class="col-2">
            <pre>Term: </pre><span id="coracleTerm" class="coracleTerm"></span>
            <pre>CommitIndex: </pre><span id="coracleCommitIndex" class="coracleCommitIndex"></span>
            <pre>LastApplieditIndex: </pre><span id="coracleLastApplied" class="coracleLastApplied"></span>
        </div>
        <div class="col-2">
            <pre>VotedFor: </pre><span id="coracleVotedFor" class="coraclVotedForm"></span>
            <pre>NextIndices: </pre><span id="coracleNextIndices" class="coracleNextIndices"></span>
            <pre>MatchIndices: </pre><span id="coracleMatchIndices" class="coracleMatchIndices"></span>
        </div>
        <div class="col-8 panel raftEntryPanel" style="overflow-y: auto; overflow-x: hidden; height: 10em">
            <ol id="raftEntries"></ol>
        </div>
    </div>

    <div><hr/></div>
    
    <div class="row noteSection">
        <div class="col-3">
            <div class="row" style="padding: 1em">
                <input type="text" id="addNoteHeader" placeholder="NoteId"/>
            </div>
            <div class="row" style="padding: 1em">
                <input type="text" id="addNoteText" placeholder="Text"/> 
            </div>
            <div class="row" style="padding: 1em">
                <button type="button" class="btn-secondary" id="addNoteBtn" onclick="addNote()">Add Note</button>
            </div>
        </div>
        <div class="col-3">
            <div id="addNoteResult" class="row">

            </div>
        </div>
        <div class="col-3">
            <div class="row" style="padding: 1em">
                <input type="text" id="getNoteHeader" placeholder="NoteId"/>
            </div>
            <div class="row" style="padding: 1em">
                <button type="button" class="btn-secondary" id="getNoteBtn" onclick="getNote()">Get Note</button>
            </div>
        </div>
        <div class="col-3">
            <div id="getNoteResult" class="row">

            </div>
        </div>
    </div>

    <div><hr/><br/><span style="display:flex; justify-content:center"><pre>Activity Logger</pre><br/></span></div>

    <div class="col-1 jumbotron panel activityLogging" style="overflow-y: auto; overflow-x: hidden; height: 20em">
         <ol id="logList"></ol>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/log.js"></script>
<script src="~/js/raftEntry.js"></script>
<script src="~/js/readyCoracle.js"></script>
<script src="~/js/addNote.js"></script>
<script src="~/js/getNote.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
