@page
@model Raft.Web.Pages.IndexModel
<!DOCTYPE html>
<html>
  <head>
    <title>Coracle</title>
  </head>
  <body>
      <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="logInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="sendButton" value="Send Log To Append" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="logList"></ul>
            </div>
        </div>
      <div class="footer">
        &copy; 2022 Ayan Choudhury. All rights reserved.
      </div>
  </body>
    <script src="~/js/log.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
</html>
